[user]
  name = Koichi Kiyokawa
  email = koichi20110068@gmail.com

[init]
  defaultBranch = main

[core]
  editor = nvim

[pull]
  rebase = false

[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

